{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app_review_second_page') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('review_page') }}
{% endblock %}


{% block body %}

<div class="form-wrapper">
    <h2>Your review of {{ vicoName }}</h2>

    <p>
        Please review the work done by test for the project <br>
        "{{ projectTitle }}":
    </p>

    <h3>Additional ratings</h3>

    {{ form_start(form) }}

    <div class="star-rating-container">
        <div class="star-rating">
            {{ form_label(form.communication_rating) }}
            <p class="rating-question">How responsive was the Vico throughout the duration of the project?</p>
            <div>
                {% for i in 1..5 %}
                    <span data-value="{{ i }}" class="star"></span>
                {% endfor %}
            </div>
            <div class="rating-grade">
            </div>
        </div>

        {{ form_widget(form.communication_rating, { 'id': 'rating_value' }) }}
        {{ form_errors(form.communication_rating) }}
    </div>

    <div class="star-rating-container">
        <div class="star-rating">
            {{ form_label(form.quality_rating) }}
            <p class="rating-question">How satisfied are you with the deliverables provided by the Vico?</p>
            <div>
                {% for i in 1..5 %}
                    <span data-value="{{ i }}" class="star"></span>
                {% endfor %}
            </div>
            <div class="rating-grade">
            </div>
        </div>

        {{ form_widget(form.quality_rating, { 'id': 'rating_value' }) }}
        {{ form_errors(form.quality_rating) }}
    </div>
    

    <div class="star-rating-container">
        <div class="star-rating">
            {{ form_label(form.value_rating) }}
            <p class="rating-question">How satisfied are you with the pricing of this project compared to the work delivered?</p>
            <div>
                {% for i in 1..5 %}
                    <span data-value="{{ i }}" class="star"></span>
                {% endfor %}
            </div>
            <div class="rating-grade">
            </div>
        </div>
        {{ form_widget(form.value_rating, { 'id': 'rating_value' }) }}
        {{ form_errors(form.value_rating) }}
    </div>
    
    {{ form_end(form) }}
    <div class="navigation-buttons">
        <a href="/review/page" class="back-button">Back</a>
        <a href="/success" class="skip-button">Skip & send</a>
    </div>
    <div class="page-index"> 
    2/2 
    </div>
</div>
{% endblock %}
